@import '~bootstrap/dist/css/bootstrap.css';
@import 'header/skeleton';
@import 'header/skin';
@import 'calendar/calendardetalle';
@import "~vue-cool-lightbox/dist/vue-cool-lightbox.min.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Source+Sans+Pro&display=swap');

html, body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    color:#bf4aa8;
    background-color: #51d0de;   
}

