.card-event-info{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.card-event-info li{
  margin-bottom: 5px;
}

.card-event-content{
    margin: 15px 15px;
}

.title-calendar{
    text-align: center;
    padding-bottom: 45px;
}
